body {
    background: url(../images/scary.wall.jpg)  center /cover;
}
.thanks {
    font-size: 200px;
    color: red;
    text-align: center;
}

.red {
    color: red;
}
.violet {
    color: blue;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}