:root {
    --black: #000;
    --white: #fff;
    --red: red;
    --green: green;
}

body {
    background: var(--black);
}

a {
    text-decoration: none;
}


/* ----------- */


.page_1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.start {
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: greenyellow;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 10%;
    z-index: 50;

    }
.start__text {
    font-size: 50px;
    color: var(--white);
    margin-top: -60px;
}
.item {
    background: var(--red);
    display: flex;
    
}
.top {
    position: absolute;
    top: 0;

}
.bottom {
    position: absolute;
    bottom: 0;
}
.right {
    position: absolute;
    right: 7.5%;
}
.item_1 {
    width: 50px;
    height: 500px;
    left: 200px;
}
.item_2 {
    width: 50px;
    height: 600px;
    left: 400px;
}
.item_3 {
    width: 50px;
    height: 600px;
    left: 600px;
}
.item_4 {
    width: 50px;
    height: 600px;
    left: 500px;
}
.item_5 {
    width: 50px;
    height: 600px;
    left: 300px;
}
.item_6 {
    width: 50px;
    height: 700px;
    left: 700px;
}
.item_7 {
    width: 1000px;
    height: 50px;
    top: 32%;
}
.item_8 {
    width: 1000px;
    height: 50px;
    top: 50%;
    right: 0;
}
.item_9 {
    width: 1000px;
    height: 50px;
    top: 75%;
}

.item_10 {
width: 90%;
height: 50px;
top: 50%;
left: 0;
}
.item_11 {
    width: 90%;
    height: 50px;
    top: 70%;
    right: 0;
}
.item_12 {
    width: 50px;
    height: 35%;
    top: 0;
    left: 200px;
}
.item_13 {
    width: 50px;
    height: 35%;
    top: 16%;
    left: 400px;
}
.item_14 {
    width: 50px;
    height: 35%;
    top: 0;
    left: 600px;
}
.item_15 {
    width: 50px;
    height: 35%;
    top: 16%;
    left: 800px;
}
.item_16 {
    width: 50px;
    height: 35%;
    top: 0;
    left: 1000px;
}
.item_17 {
    width: 50px;
    height: 35%;
    top: 16%;
    left: 1200px;
}
.over {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--black);
    z-index: 70;
    position: relative;

}
.timeout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgb(117, 0, 167);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 40;
}
.timeout__text {
    font-size: 50px;
    color: var(--white);
    margin-bottom: 22px;
}
.timeout_red {
    color: var(--red);
}

.game__over {
    z-index: 60;
    font-size: 150px;
    color: white;
    text-align: center;

}


.wall:nth-last-of-type(10) {
    width: 89%;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.wall:nth-last-of-type(8) {
    width: 90%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.wall:nth-last-of-type(9) {
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}


.wall__two:nth-last-of-type(5) {
    width: 89%;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.wall__two:nth-last-of-type(2) {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.wall__two:nth-last-of-type(3) {
    width: 30px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.wall__two:nth-last-of-type(4) {
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}



.danger__line {
    display: none;
    width: 97%;
    height: 20px;
    position: absolute;
    top: 50%;
    right: -83px;
    transform: rotate(24deg);
}

.danger__line-two {
    visibility: hidden;
    width: 97%;
    height: 20px;
    position: absolute;
    top: 70%;
    right: -83px;
    animation: danger-througt 20s linear infinite; 

}
.danger__througt-two {
    width: 95.5%;
    height: 2px;
    position: absolute;
    top: 70.5%;
    right: -83px;
    background: darkgoldenrod;
    z-index: -5;
    animation: danger-througt 20s linear infinite;

}
.danger__line-three {
    top: 20%;
    right: 0;
    transform: rotate(90deg);

}
.danger__three {
    width: 29.1%;
    height: 20px;
    top: 50%;
    position: absolute;
    left: 10.6%;
    transform: rotate(1deg);
    animation: line_1 20s linear infinite;

}
.danger__four {
    left: 40%;
    animation: line_2 20s linear infinite;

}
.danger__five {
    left: 70%;
    animation: line_3 20s linear infinite;

}
.danger__line-througt {
    width: 95.5%;
    height: 2px;
    position: absolute;
    top: 51%;
    right: -83px;
    transform: rotate(24deg);   
    background: darkgoldenrod;
    z-index: -5;
}

.througt_three {
    transform: rotate(90deg);
    top: 20%;
    right: 0;
}

.danger__block {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    position: absolute;
    animation: block 10s linear infinite;
}
.block-1 {
right: 150px;
}
.block-2 {
right: 500px;
}
.block-3 {
right: 850px;
}


.home {
    cursor: pointer;
    width: 90px;
    height: 90px;
    background: greenyellow;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    right: 800px;
    bottom: 5%;
}
.home__text {
    font-size: 50px;
    color: var(--white);
    margin-top: -55px;

}


.paint,
.code {
    width: 50px;
    height: 220px;
    border: 2px solid white;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 5px;

}
.code {
    left: 70px;
    height: 330px;
}
.color__container {
    background: none;
}


.colors {
    border: 1px solid white;

    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.color__violet {
    background: blue;
}

.color__green {
    background: green;
}

.color__yellow {
    background: yellow;
}

.color__red {
    background: red;
}

.color__none,
.color__yes {
    width: 100%;
    height: 100%;
}

.end {
    display: none;
    width: 100%;
    height: 100%;
    background: black;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: relative;
}

.it__is-all {
    cursor: pointer;
    position: absolute;
    right: 200px;
    bottom: 0;
    height: 240px;
}
.help {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 130px;
    width: 220px;
    
}
.help__two {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 220px;
    text-align: center;
}



.secret__key-wall {
    position: absolute;
    top: 50.8%;
    right: 38px;
    height: 30px;
    width: 127px;
    background: #a70000;
    transition: all 1500ms;
    z-index: 6;
}

.secret__key-one {
    position: absolute;
    right: 68px;
    top: 50.8%;
    z-index: 4;
}
.secret__key-pool {
    position: absolute;
    top: 50.8%;
    right: 38px;
    height: 30px;
    width: 127px;
    background: black;
    transition: all 1500ms;
    z-index: 2;
}

.secret__lock {
    display: flex;
    position: absolute;
    top: 32%;
    right: 257px;
    height: 90px;
    width: 90px;
}
.secret__lock-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.secret__inp {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    bottom: 700px;
    right: 249px;
}
.secret__btn {
    cursor: pointer;
    width: 30px;
    height: 22px;
    border-radius: 3px;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    bottom: 700px;
    right: 230px;
}
.secret__btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.secret__code {
    font-size: 30px;
    color: white;
    
}

.secret__door {
    position: absolute;
    right: 260px;
    top: 29%;
    height: 200px;
}
.link__to-page7 {
    cursor: default;
}
.Locked {
    text-align: right;
    width: 200px;
    position: absolute;
    right: 370px;
    top: 29%;
    font-size: 30px;
    color: white;
    opacity: 0;
    transition: all 400ms;
}
@keyframes line_1 {
    0% {
        top: 90%;
        
    }
    25% {
        top: 10%;

    }
    50% {
        top: 90%;

    }
    75% {
        top: 10%;

    }
    100% {
        top: 90%;
    }

}
@keyframes line_2 {
    0% {
        top: 10%;

    }
    25% {
        top: 90%;

    }
    50% {
        top: 10%;

    }
    75% {
        top: 90%;

    }
    100% {
        top: 10%;
    }
}
@keyframes line_3 {
    0% {
        top: 90%;

    }
    25% {
        top: 10%;

    }
    50% {
        top: 90%;

    }
    75% {
        top: 10%;

    }
    100% {
        top: 90%;
    }
}
@keyframes block {
    0% {
        top: 90%;

    }
    25% {
        top: 0%;

    }
    50% {
        top: 90%;

    }
    75% {
        top: 0%;

    }
    100% {
        top: 90%;
    }

}

@keyframes danger-througt {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 1854px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 950px;
    }
}
@media (max-width: 1802px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 900px;
    }
}
@media (max-width: 1747px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 850px;
    }
    .home {
        right: 600px;
    }
    .block-3 {
        right: 700px;
        }
}
@media (max-width: 1692px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 800px;
    }
}
@media (max-width: 1638px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 750px;
    }
    .home {
        right: 500px;
    }
    .block-3 {
        right: 325px;
        }
}
@media (max-width: 1587px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 700px;
    }
}
@media (max-width: 1530px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 650px;
    }
    .home {
        right: 400px;
    }
}
@media (max-width: 1470px) {
    .item_7,
    .item_8,
    .item_9 {
        width: 600px;
    }
}